name: Movie Data Auto-Crawl

on:
  schedule:
    - cron: "0 */24 * * *"   # runs every 24 hrs
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Set up R
      uses: r-lib/actions/setup-r@v2

    - name: Install packages
      run: Rscript -e 'install.packages(c("rvest","stringr","readr","dplyr","ggplot2","tibble"))'

    - name: Scrape
      run: Rscript 01_scrape.R

    - name: Clean + append
      run: Rscript 02_clean.R

    - name: Visualize
      run: Rscript 03_visualize.R

    - name: Commit results
      run: |
        git config --global user.email "madisonhosea10@gmail.com"
        git config --global user.name "Madison Hosea"
        git add .
        git commit -m "Auto update $(date)"
        git push
